.movie-wrapper {
    padding: 20px;
    margin: 5px;
    background: white;
    opacity: .7;
    max-height: 100px;
    transition: max-height 1s ease-in-out;
}
.show-more {
    color: green;
    cursor: pointer;
}
.show-less {
    color: red;
    cursor: pointer;
}